In [3]:
import pandas as pd
from pathlib import Path

In [9]:
bit_csv1 = Path(r"C:\Users\admin\Desktop\FinTech\FinTech2022_Module3_Financial Analysis_Pandas\03-Bitcoin_Month_Week_Day\Resources\bitcoin_1.csv")

In [10]:
bit_df1 = pd.read_csv(
    bit_csv1,
    index_col="Timestamp",
    parse_dates=True,
    infer_datetime_format=True
)

bit_df1.head()

                     Close
Timestamp
2015-01-01 00:00:00  314.0
2015-01-01 00:01:00  314.0
2015-01-01 00:02:00  314.0
2015-01-01 00:03:00  314.0
2015-01-01 00:04:00  313.9

In [12]:
bit_df1.tail()

                      Close
Timestamp
2015-12-31 23:53:00  435.66
2015-12-31 23:54:00  435.21
2015-12-31 23:56:00  435.17
2015-12-31 23:57:00  435.10
2015-12-31 23:58:00  435.11

In [14]:
bit_df1.isnull().sum()

Close    0
dtype: int64

In [15]:
bit_csv2 = Path(r"C:\Users\admin\Desktop\FinTech\FinTech2022_Module3_Financial Analysis_Pandas\03-Bitcoin_Month_Week_Day\Resources\bitcoin_2.csv")

In [19]:
bit_df2 = pd.read_csv(
    bit_csv2,
    index_col="Timestamp",
    parse_dates=True,
    infer_datetime_format=True
)

In [20]:
bit_df2.head()

                      Close
Timestamp
2015-01-07 20:24:00  360.00
2015-01-07 20:27:00  276.34
2015-01-07 20:28:00  271.60
2015-01-07 20:29:00  344.67
2015-01-07 20:30:00  305.38

In [21]:
bit_df2.tail()

                      Close
Timestamp
2015-12-31 23:55:00  437.02
2015-12-31 23:56:00  437.07
2015-12-31 23:57:00  436.03
2015-12-31 23:58:00  436.13
2015-12-31 23:59:00  436.12

In [23]:
bit_df2.isnull().sum()

Close    0
dtype: int64

In [24]:
bit_df1["Close"].dtypes

dtype('float64')

In [ ]:
bit