In [1]:
import pandas as pd
from pathlib import Path

In [2]:
bitsum1_csv = Path (r"C:\Users\admin\Desktop\FinTech\FinTech2022_Module3_Financial Analysis_Pandas\02-Bitcoin_Summary_Statistics\Resources\bitcoin_1.csv")

In [3]:
bit_df1 = pd.read_csv(
    bitsum1_csv,
    index_col="Timestamp",
    parse_dates=True,
    infer_datetime_format=True
)
bit_df1.head()

                     Close
Timestamp
2015-01-01 00:00:00  314.0
2015-01-01 00:01:00  314.0
2015-01-01 00:02:00  314.0
2015-01-01 00:03:00  314.0
2015-01-01 00:04:00  313.9

In [4]:
bit_df1.tail()

                      Close
Timestamp
2015-12-31 23:53:00  435.66
2015-12-31 23:54:00  435.21
2015-12-31 23:56:00  435.17
2015-12-31 23:57:00  435.10
2015-12-31 23:58:00  435.11

In [5]:
bit_df1.isnull().sum()

Close    0
dtype: int64

In [6]:
bit_df1["Close"].dtypes

dtype('float64')

In [7]:
bit_df1.describe()

               Close
count  372773.000000
mean      274.423996
std        61.778634
min       153.100000
25%       233.850000
50%       248.950000
75%       288.820000
max       501.960000

In [8]:
bitsum2_csv

NameError: name 'bitsum2_csv' is not defined