In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
database_connection_string = 'sqlite:///'

In [3]:
engine = sql.create_engine(
    database_connection_string
)

engine

Engine(sqlite:///)

In [4]:
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_17920\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [5]:
stocks_dataframe = pd.DataFrame(
    {
        'AAPL': [
            1,
            2
        ]
        ,
        'GOOG': [
            3,
            4
        ]
    }
)

stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [6]:
stocks_dataframe.to_sql(
    'stocks',
    engine
)

2

In [7]:
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_17920\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['stocks']

In [8]:
sql_stocks_df = pd.read_sql_table(
    'stocks',
    con= engine
)

sql_stocks_df

   index  AAPL  GOOG
0      0     1     3
1      1     2     4

In [9]:
stocks_dataframe.to_sql(
    'stocks',
    engine,
    index= False,
    if_exists= 'replace'
)

2

In [10]:
sql_stocks_df = pd.read_sql_table(
    'stocks',
    con= engine
)

sql_stocks_df

   AAPL  GOOG
0     1     3
1     2     4

___

# Skill Drill

In [11]:
database_connection_string = 'sqlite:///'

engine = sql.create_engine(
    database_connection_string
)

engine

Engine(sqlite:///)

In [12]:
stocks_df = pd.DataFrame(
    {
        'MSFT': [
            5,
            6
        ]
        ,
        'TSLA': [
            7,
            8
        ]
    }
)

stocks_df

   MSFT  TSLA
0     5     7
1     6     8

In [13]:
stocks_df.to_sql(
    'stocks',
    engine
)

2

In [14]:
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_17920\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['stocks']

In [15]:
sql_stocks_df = pd.read_sql_table(
    'stocks',
    con = engine
)

sql_stocks_df

   index  MSFT  TSLA
0      0     5     7
1      1     6     8

___

In [16]:
database_connection_string = 'sqlite:///'

engine = sql.create_engine(
    database_connection_string,
    echo = True
)

engine

Engine(sqlite:///)

In [17]:
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [18]:
stocks_dataframe.to_sql(
    'stocks',
    engine,
    index=False,
    if_exists='replace'
)

2023-02-10 08:25:47,579 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2023-02-10 08:25:47,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,586 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2023-02-10 08:25:47,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-10 08:25:47,593 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2023-02-10 08:25:47,593 INFO sqlalchemy.engine.Engine [no key 0.00207s] ()
2023-02-10 08:25:47,593 INFO sqlalchemy.engine.Engine COMMIT
2023-02-10 08:25:47,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-10 08:25:47,593 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2023-02-10 08:25:47,601 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ((1, 3), (2, 4))
2023-02-10 08:25:47,601 INFO sqlalchemy.engine.Engine COMMIT

2

In [19]:
create_table = """
CREATE TABLE stocks (
    'AAPL' BIGINT,
    'GOOG' BIGINT
)

"""

create_table

"\nCREATE TABLE stocks (\n    'AAPL' BIGINT,\n    'GOOG' BIGINT\n)\n\n"

___

In [20]:
create_table = """

CREATE TABLE delicious_stocks (
    'EAT' BIGINT,
    'CAKE' BIGINT
)

"""

create_table

"\n\nCREATE TABLE delicious_stocks (\n    'EAT' BIGINT,\n    'CAKE' BIGINT\n)\n\n"

In [21]:
engine.execute(
    create_table
)

2023-02-10 08:25:47,674 INFO sqlalchemy.engine.Engine

CREATE TABLE delicious_stocks (
    'EAT' BIGINT,
    'CAKE' BIGINT
)


2023-02-10 08:25:47,674 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,674 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
engine.table_names()

2023-02-10 08:25:47,706 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-02-10 08:25:47,706 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\admin\AppData\Local\Temp\ipykernel_17920\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['delicious_stocks', 'stocks']

In [23]:
pd.read_sql_table(
    'delicious_stocks',
    con=engine
)

2023-02-10 08:25:47,723 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("delicious_stocks")
2023-02-10 08:25:47,731 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,734 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2023-02-10 08:25:47,735 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,736 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,739 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,743 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2023-02-10 08:25:47,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,743 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2023-02-10 08:25:47,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,747 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,747 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,752 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2023-02-10 08:25:47,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,757 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2023-02-10 08:25:47,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,760 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2023-02-10 08:25:47,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,764 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2023-02-10 08:25:47,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,764 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,768 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,773 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2023-02-10 08:25:47,773 INFO sqlalchemy.engine.Engine [generated in 0.00177s] ()

Empty DataFrame
Columns: [EAT, CAKE]
Index: []

In [24]:
insert_data = """

INSERT INTO delicious_stocks (
    'EAT',
    'CAKE'
)

VALUES (
    ?,
    ?
)

"""

In [25]:
engine.execute(
    insert_data,
    (
        (
            10,
            30
        )
        ,
        (
            20,
            40
        )
    )
)

2023-02-10 08:25:47,830 INFO sqlalchemy.engine.Engine

INSERT INTO delicious_stocks (
    'EAT',
    'CAKE'
)

VALUES (
    ?,
    ?
)


2023-02-10 08:25:47,832 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2023-02-10 08:25:47,832 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
pd.read_sql_table(
    'delicious_stocks',
    con=engine
)

2023-02-10 08:25:47,850 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("delicious_stocks")
2023-02-10 08:25:47,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,858 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2023-02-10 08:25:47,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,862 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,864 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,864 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2023-02-10 08:25:47,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,864 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2023-02-10 08:25:47,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,871 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,871 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,875 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2023-02-10 08:25:47,877 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,877 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2023-02-10 08:25:47,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,879 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2023-02-10 08:25:47,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,879 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2023-02-10 08:25:47,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:25:47,888 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-02-10 08:25:47,889 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2023-02-10 08:25:47,889 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2023-02-10 08:25:47,895 INFO sqlalchemy.engine.Engine [generated in 0.00124s] ()

   EAT  CAKE
0   10    30
1   20    40

In [27]:
read_all_data = """
SELECT 'EAT', 'CAKE' FROM delicious_stocks
"""

engine.execute(
    read_all_data
)

2023-02-10 08:25:47,922 INFO sqlalchemy.engine.Engine
SELECT 'EAT', 'CAKE' FROM delicious_stocks

2023-02-10 08:25:47,924 INFO sqlalchemy.engine.Engine [raw sql] ()

In [28]:
read_all_data = """
SELECT "EAT", "CAKE"
FROM delicious_stocks
"""

results = engine.execute(
    read_all_data
)

for row in results:
    print(row)

2023-02-10 08:25:47,944 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE"
FROM delicious_stocks

2023-02-10 08:25:47,946 INFO sqlalchemy.engine.Engine [raw sql] ()
(10, 30)
(20, 40)

In [29]:
results = engine.execute(
    read_all_data
)
list(results)

2023-02-10 08:25:47,968 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE"
FROM delicious_stocks

2023-02-10 08:25:47,968 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]

In [30]:
read_all_data = """
SELECT * FROM delicious_stocks
"""

results = engine.execute(
    read_all_data
)

list(results)

2023-02-10 08:25:47,997 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2023-02-10 08:25:47,999 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]

In [36]:
update_cake = """ 
UPDATE delicious_stocks

SET CAKE = 100

WHERE CAKE = 40
"""

engine.execute(
    update_cake
)

2023-02-10 08:49:14,242 INFO sqlalchemy.engine.Engine
UPDATE delicious_stocks

SET CAKE = 100

WHERE CAKE = 40

2023-02-10 08:49:14,242 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 08:49:14,242 INFO sqlalchemy.engine.Engine COMMIT

In [37]:
read_all_data = """
SELECT * FROM delicious_stocks
"""

results = engine.execute(
    read_all_data
)

list(results)

2023-02-10 08:57:54,305 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2023-02-10 08:57:54,305 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 100)]

In [38]:
delete_eat = """

DELETE FROM

delicious_stocks

WHERE

EAT = 20

"""

engine.execute(
    delete_eat
)

2023-02-10 09:18:19,952 INFO sqlalchemy.engine.Engine

DELETE FROM

delicious_stocks

WHERE

EAT = 20


2023-02-10 09:18:19,957 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-10 09:18:19,960 INFO sqlalchemy.engine.Engine COMMIT

In [40]:
read_all_data = """

SELECT

*

FROM

delicious_stocks

"""

results = engine.execute(
    read_all_data
)

list(results)

2023-02-10 09:22:16,870 INFO sqlalchemy.engine.Engine

SELECT

*

FROM

delicious_stocks


2023-02-10 09:22:16,873 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30)]