In [1]:
# Import modules
import pandas as pd
import sqlalchemy as sql

## Create the SQLite database and engine

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [3]:
# Database connection object
engine = sql.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [4]:
# Get table names from the database
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_12608\2337618584.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

## Create a Table From a Pandas DataFrame

In [5]:
# pd.DataFrame(
#     Series1 = [1,2,3,..nth],
#     Series2 = {'a': 'b', 'c': 'd', 'e': 'f', ... },
#     Series3 = [1,2,3,..nth]
#     Series..nth = [...nth...]
# )

In [6]:
number1_portfolio_df = pd.DataFrame(
    {
        'HTCH': [8.90, 8.64],
        'EMPS': [102.34, 102.89],
        'BUMP': [48.01, 48.88]
    }
)

number1_portfolio_df

   HTCH    EMPS   BUMP
0  8.90  102.34  48.01
1  8.64  102.89  48.88

In [7]:
# Create the DataFrame
mortgage_dataframe = number1_portfolio_df

# Convert the DataFrame to a SQL table
mortgage_dataframe.to_sql(
    'mortgage',
    engine
)

# Confirm table creation
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_12608\329689167.py:11: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['mortgage']

## Read in a Database File

In [12]:
# Database filepath
database_connection_string = 'sqlite:///../../../../FinTech/FinTech2022_Module7_Financial Database with SQL/Git_lab_activities/1/Activities/01-Ins-SqlAlchemy/Resources/mortgage.db'

In [13]:
# Database connection object
engine = sql.create_engine(
    database_connection_string
)
engine

Engine(sqlite:///../../../../FinTech/FinTech2022_Module7_Financial Database with SQL/Git_lab_activities/1/Activities/01-Ins-SqlAlchemy/Resources/mortgage.db)

In [14]:
# Get table names from the database
engine.table_names()

C:\Users\admin\AppData\Local\Temp\ipykernel_12608\2337618584.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['customers', 'mortgages', 'payments']

# Review a table as a Pandas DataFrame

In [16]:
# Create the Pandas DataFrame from a database table
mortgage_customer_df = pd.read_sql_table(
    'customers',
    con=engine
)

# Review the DataFrame
mortgage_customer_df.head()

  customer_id first_name  last_name  age  zip_code  mortgage_id
0           0      David      Scott   74     31370       530180
1           1        Roy  Middleton   73     92023       625617
2           2    Shirley     Nelson   57     28670       588605
3           3        Rae     Bailey   29     74233       761909
4           4  Catherine    Carroll   50     90451       613158