In [ ]:
# Import modules

In [ ]:
# Create a temporary sqlite database

In [ ]:
# Database connection object

## Create a SQL Table

In [ ]:
# Create a table with SQL syntax
#   CREATE TABLE <table_name> (
#     <column_name> <data_type>,
#     <column_name> <data_type>,
#     ...,
#     <column_name> <data_type>
#   )

In [ ]:
# Create a table with SQL syntax

In [ ]:
# Execute the SQL statement

In [ ]:
# Get table names from the database

## Insert Data into the Table

In [ ]:
# Syntax for SQL INSERT  statement
# INSERT INTO table_name(colum1, column2, ...) VALUES (val, val, ...), (val, val, ...)

In [ ]:
# Write the INSERT SQL query

In [ ]:
# Execute the INSERT SQL statement

## Read a SQL Table

In [ ]:
# The SQL syntax to read a database table
# SELECT <columns> FROM <table_name>

In [ ]:
# Select all rows from the payments table

In [ ]:
# Execute the SQL statement

In [ ]:
# Review the result object

In [ ]:
# Print the results in the result object

In [ ]:
# Alternative method using fetchall. The result object is cleared after it is read.
# You will need to re-execute the sql statement again.

# Execute sql statement


# Review the data with the fetchall method