In [4]:
import pandas as pd
from pathlib import Path

In [9]:
path_object_p = Path("C:/Users/admin/Desktop/FinTech-Workspace/PowerPoint_sample/Module3/01_Import_Data/sales.csv")

In [12]:
sales_dataframe = pd.read_csv(path_object_p)
sales_dataframe.head()

          FullName                   Email    Zip  SalePrice
0    Elwanda White      alyre2036@live.com   9236      84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330     879.95
2   Daisey Sellers  toucan2024@outlook.com   7631     907.58
3     Issac Reeves    asarin1958@gmail.com  81168     545.88
4  Bradford Kinney  mibound1801@yandex.com  41721     517.49

In [13]:
sales_dataframe.tail()

             FullName                      Email    Zip  SalePrice
95         Basil Rios       holloo1814@yahoo.com   8108     937.14
96      Hipolito Rios  calefacient2049@gmail.com  37077     645.82
97  Clayton Robertson         coner2015@live.com  57242     128.73
98      Tony Chandler     sexillion2061@live.com  70135     820.00
99        Cuc Mcgowan   dispatched1820@gmail.com  70959     764.69