### Instructor Demo: Indexing

This program reads performs several slice and dice operations through indexing via loc and iloc functions.

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

### Read CSV in as DataFrame

In [2]:
# Set the file path
file_path = Path('../Resources/people.csv')

# Read in the CSV as a DataFrame
people_csv = pd.read_csv(file_path)
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

### View Summary Statistics (Default Numeric)

In [3]:
# View the summary statistics for the DataFrame, the describe() function defaults to only numerical data
people_csv.describe()

              age
count  500.000000
mean    42.130000
std     10.702625
min     24.000000
25%     33.000000
50%     43.000000
75%     52.000000
max     60.000000

### View Summary Statistics (All Columns)

In [4]:
# View the summary statistics for the DataFrame, include all columns
people_csv.describe(include='all')

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
count,500,500,500,500.000000,500,500,500,500,500,500,500,500,500
unique,479,498,2,NaN,498,500,468,102,500,500,500,500,498
top,Erasmo,Devereux,F,NaN,Martin Morrissey,5 Garfield St #9,City and Hunslet Ward,Greater London,L6 2EN,01721-910475,01944-369967,larue@yahoo.com,http://www.martinmorrissey.co.uk
freq,3,2,301,NaN,2,1,3,44,1,1,1,1,2
mean,NaN,NaN,NaN,42.130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,10.702625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Index Selection Using iloc

In [5]:
# Select the first row of the DataFrame
people_csv.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
gender                                             F
age                                               54
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [6]:
# Select the second row of the DataFrame
people_csv.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
gender                                          M
age                                            47
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: 1, dtype: object

In [7]:
# Select the first 10 rows of the DataFrame
people_csv.iloc[0:10]

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,M,28,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,F,44,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,F,40,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,F,53,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk

In [8]:
# Select the last row of the DataFrame
people_csv.iloc[-1]

first_name                                               Mi
last_name                                            Richan
gender                                                    M
age                                                      27
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: 499, dtype: object

In [9]:
# Select the first column of the DataFrame
people_csv.iloc[:,0].head()

0    Aleshia
1       Evan
2     France
3    Ulysses
4     Tyisha
Name: first_name, dtype: object

In [10]:
# Select the second column of the DataFrame, with all rows
people_csv.iloc[:,1].head()

0    Tomkiewicz
1     Zigomalas
2       Andrade
3     Mcwalters
4        Veness
Name: last_name, dtype: object

In [11]:
# Select the last column of the DataFrame, with all rows
people_csv.iloc[:,-1].head()

0    http://www.alandrosenburgcpapc.co.uk
1       http://www.capgeminiamerica.co.uk
2        http://www.elliottjohnwesq.co.uk
3            http://www.mcmahanbenl.co.uk
4          http://www.champagneroom.co.uk
Name: web, dtype: object

In [12]:
# Select the first two columns of the DataFrame, with all rows
people_csv.iloc[:, 0:2].head()

  first_name   last_name
0    Aleshia  Tomkiewicz
1       Evan   Zigomalas
2     France     Andrade
3    Ulysses   Mcwalters
4     Tyisha      Veness

In [13]:
# Select the 1st, 5th, 8th, 22nd rows of the 1st 4th and 6th columns.
people_csv.iloc[[0,4,7,21], [0,3,5]]

   first_name  age               address
0     Aleshia   54          14 Taylor St
4      Tyisha   37     5396 Forth Street
7     Laquita   40  20 Gloucester Pl #96
21    Octavio   24        6949 Bourne St

In [14]:
# Select the first 5 rows of the 3rd, 4th, and 5th columns of the DataFrame
people_csv.iloc[0:5, 2:5]

  gender  age             company_name
0      F   54  Alan D Rosenburg Cpa Pc
1      M   47       Cap Gemini America
2      M   42      Elliott, John W Esq
3      M   45           Mcmahan, Ben L
4      F   37           Champagne Room

### Assignment Using iLoc

In [15]:
# Modify the 'first_name' column value of the first row
people_csv.iloc[0, people_csv.columns.get_loc('first_name')] = 'Arya'
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

### Index Selection Using Loc

In [16]:
# Indexing
people_csv.set_index(people_csv['first_name'])
people_csv.head()
people_csv.copy()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,M,28,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,F,44,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,F,40,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,F,53,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
10,Fernanda,Writer,F,25,K & R Associates Inc,620 Northampton St,Wilmington,Kent,DA2 7PP,01630-202053,01687-879391,fernanda@writer.co.uk,http://www.krassociatesinc.co.uk
11,Charlesetta,Erm,F,41,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
12,Corrinne,Jaret,F,44,Sound Vision Corp,2150 Morley St,Dee Ward,Dumfries and Galloway,DG8 7DE,01625-932209,01642-322954,corrinne_jaret@gmail.com,http://www.soundvisioncorp.co.uk
13,Niesha,Bruch,F,38,Rowley/hansell Petetin,24 Bolton St,"Broxburn, Uphall and Winchburg",West Lothian,EH52 5TL,01874-856950,01342-793603,niesha.bruch@yahoo.com,http://www.rowleyhansellpetetin.co.uk
14,Rueben,Gastellum,M,29,Industrial Engineering Assocs,4 Forrest St,Weston-Super-Mare,North Somerset,BS23 3HG,01976-755279,01956-535511,rueben_gastellum@gastellum.co.uk,http://www.industrialengineeringassocs.co.uk
15,Michell,Throssell,M,54,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
16,Edgar,Kanne,M,32,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
17,Dewitt,Julio,M,43,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk
18,Charisse,Spinello,F,50,Modern Plastics Corp,9165 Primrose St,Darnall Ward,"Yorkshire, South",S4 7WN,01719-831436,01207-428520,charisse_spinello@spinello.co.uk,http://www.modernplasticscorp.co.uk
19,Mee,Lapinski,F,39,Galloway Electric Co Inc,9 Pengwern St,Marldon,Devon,TQ3 1SA,01578-287816,01939-815208,mee.lapinski@yahoo.com,http://www.gallowayelectriccoinc.co.uk
20,Peter,Gutierres,M,55,Niagara Custombuilt Mfg Co,4410 Tarlton St,Prestatyn Community,Denbighshire,LL19 9EG,01842-767201,01859-648598,peter_gutierres@yahoo.com,http://www.niagaracustombuiltmfgco.co.uk
21,Octavio,Salvadore,M,24,Practical Periphrals,6949 Bourne St,Lye and Stourbridge North Ward,West Midlands,DY5 2QP,01552-709248,01743-139456,octavio.salvadore@yahoo.com,http://www.practicalperiphrals.co.uk
22,Martha,Teplica,F,57,"Curtin, Patricia M Esq",148 Rembrandt St,Warlingham,Surrey,CR6 9SW,01677-684257,01583-287367,mteplica@teplica.co.uk,http://www.curtinpatriciamesq.co.uk
23,Tamesha,Veigel,F,48,"Wilhelm, James E Jr",2200 Nelson St #58,Newport,Isle of Wight,PO30 5AL,01217-342071,01280-786847,tveigel@veigel.co.uk,http://www.wilhelmjamesejr.co.uk
24,Tess,Sitra,F,30,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk
25,Leonard,Kufner,M,42,Arctic Star Distributing Inc,41 Canning St,Steornabhagh a Deas Ward,Western Isles,HS1 2PZ,01230-623547,01604-718601,lkufner@kufner.co.uk,http://www.arcticstardistributinginc.co.uk
26,Svetlana,Tauras,F,47,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk
27,Pok,Molaison,M,44,Portal Metal Products,211 Hobart St,Newquay,Cornwall,TR7 1LS,01866-248660,01315-284286,pok@yahoo.com,http://www.portalmetalproducts.co.uk
28,Augustine,Growcock,M,53,"Lynema, Cliff Cpa",114 Falkland St #8845,Brimpton,Berkshire,RG7 4RF,01541-802635,01926-108010,augustine.growcock@growcock.co.uk,http://www.lynemacliffcpa.co.uk
29,Karma,Quarto,M,49,J C S Machinery,1 Birkett St,Shard End Ward,West Midlands,B33 0NH,01857-864722,01307-667811,kquarto@gmail.com,http://www.jcsmachinery.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Tony,Diazdeleon,M,40,Dilling Harris Inc,529 Llanrwst St,Southam,Gloucestershire,GL52 8TW,01765-102036,01877-593275,tony@gmail.com,http://www.dillingharrisinc.co.uk
471,Val,Villot,F,58,Horizon Air Magazine,1980 Tynemouth St,Almond Ward,West Lothian,EH52 5PY,01375-870188,01602-987840,val@yahoo.com,http://www.horizonairmagazine.co.uk
472,Mel,Picciuto,M,46,Avante Limited,8598 Rumney Rd,Hylands Ward,Essex,RM11 1QL,01885-270480,01268-443299,mel.picciuto@gmail.com,http://www.avantelimited.co.uk
473,Isabella,Piatkowski,F,29,"Miller, William E Iii",9283 Ruth St #81,Dormers Wells Ward,Greater London,UB1 2FH,01979-186995,01998-980054,isabella_piatkowski@piatkowski.co.uk,http://www.millerwilliameiii.co.uk
474,Erasmo,Rhea,M,24,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk
475,Ivory,Lohrenz,F,52,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk
476,Nikita,Walka,F,32,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk
477,Aleta,Ligons,F,51,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
478,Owen,Jentzen,M,48,Capital Fasteners Inc,5 Hampden St,Liscard Ward,Merseyside,CH45 4RN,01467-142439,01917-137038,owen_jentzen@jentzen.co.uk,http://www.capitalfastenersinc.co.uk
479,Pauline,Fling,F,48,Cumberland Vacuum Products,6452 Pilgrim St #5,Seven Sisters Ward,Greater London,N15 6TH,01990-476494,01458-113457,pfling@fling.co.uk,http://www.cumberlandvacuumproducts.co.uk
480,Tijuana,Machalek,F,54,"Schwartz, Thomas E Esq",1149 Highfield Rd #996,Fareham South Ward,Hampshire,PO14 9JJ,01242-532395,01336-686264,tijuana.machalek@gmail.com,http://www.schwartzthomaseesq.co.uk
481,Ahmad,Alsaqri,M,51,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
482,Jamika,Conoly,F,49,"Keller, Raymond C",19 Soho St,Whitley Ward,Berkshire,RG1 9XH,01726-595316,01597-168997,jamika_conoly@conoly.co.uk,http://www.kellerraymondc.co.uk
483,Derrick,Dolloff,M,30,Proto Tek Manufacturing,236 Blantyre Rd,Everton Ward,Merseyside,L6 2EN,01982-734773,01619-554437,derrick_dolloff@gmail.com,http://www.prototekmanufacturing.co.uk
484,Jacquelyne,Reibman,F,46,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
485,Zachary,Freeburger,M,33,Country Kitchen,58 Gloucester Rd,Holbrook,Derbyshire,DE56 0TX,01888-641397,01240-433924,zachary.freeburger@freeburger.co.uk,http://www.countrykitchen.co.uk
486,Sophia,Gaucher,F,34,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
487,Isabelle,Kono,F,58,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
488,Ronnie,Brigman,M,57,Howard Johnson,6 Morley St,Batchwood Ward,Hertfordshire,AL3 5JN,01943-754681,01972-686199,ronnie@brigman.co.uk,http://www.howardjohnson.co.uk
489,Krystina,Schlabaugh,F,32,Harris Oldsmobile Inc,7316 Friar St,Salvington Ward,West Sussex,BN13 3FL,01441-846477,01332-799979,kschlabaugh@schlabaugh.co.uk,http://www.harrisoldsmobileinc.co.uk
490,Rosita,Ausdemore,F,35,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
491,Huey,Stancil,M,45,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
492,Elbert,Fiorino,M,53,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
493,Pura,Manciel,F,54,Cia Inspection,7 Water St,Priory Heath Ward,Suffolk,IP3 9RB,01853-412588,01386-437186,pura.manciel@yahoo.com,http://www.ciainspection.co.uk
494,Alesia,Katie,F,26,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk
495,Avery,Veit,M,38,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,M,56,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,F,31,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,F,41,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,M,27,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [17]:
# Set the index as the 'first_name' column
people_csv.set_index(people_csv['first_name'], inplace=True)
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Arya,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Evan,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
France,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Ulysses,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Tyisha,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [18]:
# Sort the index
people_csv.sort_index(inplace=True)

In [19]:
# Select the row with the index 'Evan'
people_csv.loc['Evan']

first_name                                   Evan
last_name                               Zigomalas
gender                                          M
age                                            47
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: Evan, dtype: object

In [20]:
# Slice the data to output a range of rows based on the index
people_csv.loc['Aleshia':'Svetlana'].head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Alesia,Alesia,Katie,F,26,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk
Aleta,Aleta,Ligons,F,51,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
Alethea,Alethea,Mould,F,37,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
Alexia,Alexia,Meenan,F,42,Herr Foods Inc,94 Villars St,Launcells,Cornwall,EX23 9LG,01560-328739,01270-931388,alexia.meenan@meenan.co.uk,http://www.herrfoodsinc.co.uk
Alise,Alise,Packebush,F,30,Wnc Forklift Inc,22 Delamore St,Hereford,Hereford and Worcester,HR1 2EA,01266-695304,01517-702273,alise.packebush@gmail.com,http://www.wncforkliftinc.co.uk

In [21]:
# Filter rows based on a column value conditional
people_csv.loc[people_csv['gender'] == 'M'].head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Abraham,Abraham,Cratch,M,39,"Cavuto, John A",41 Benedict St,Aldborough Ward,Greater London,IG2 7QG,01599-245408,01695-305111,acratch@gmail.com,http://www.cavutojohna.co.uk
Adolph,Adolph,Cunningham,M,58,"Moorhead, Bridget Klein Esq",9874 Oakfield Rd,Redhill Ward,Tyne and Wear,SR5 5PT,01731-429712,01252-511174,adolph_cunningham@hotmail.com,http://www.moorheadbridgetkleinesq.co.uk
Ahmad,Ahmad,Alsaqri,M,51,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
Alba,Alba,Mosseri,M,52,"Schwartzbard, Gail L Esq",4 Burnall St,Beeston West Ward,Nottinghamshire,NG9 1AE,01543-198690,01231-806535,alba@gmail.com,http://www.schwartzbardgaillesq.co.uk
Alton,Alton,Rampy,M,25,Reliable Metalcraft Inc,83 Battenburg St,Girvan and South Carrick Ward,South Ayrshire,KA26 0DY,01767-568989,01506-160673,alton_rampy@gmail.com,http://www.reliablemetalcraftinc.co.uk

### Assignment Using Loc

In [22]:
# Modify the 'first_name' value of the row with the index 'Yun'
people_csv.loc['Yun', 'first_name'] = 'Yuna'
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Abraham,Abraham,Cratch,M,39,"Cavuto, John A",41 Benedict St,Aldborough Ward,Greater London,IG2 7QG,01599-245408,01695-305111,acratch@gmail.com,http://www.cavutojohna.co.uk
Adelle,Adelle,Schantini,F,52,Creative Photography Inc,162 Grayson St,Greenlands Ward,Lancashire,FY2 0TD,01624-595660,01938-262356,adelle_schantini@yahoo.com,http://www.creativephotographyinc.co.uk
Adolph,Adolph,Cunningham,M,58,"Moorhead, Bridget Klein Esq",9874 Oakfield Rd,Redhill Ward,Tyne and Wear,SR5 5PT,01731-429712,01252-511174,adolph_cunningham@hotmail.com,http://www.moorheadbridgetkleinesq.co.uk
Ahmad,Ahmad,Alsaqri,M,51,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
Alaine,Alaine,Raterman,F,35,Putnam Co Inc,1 Milton St,Little Missenden,Buckinghamshire,HP16 0DH,01927-151413,01525-172423,alaine@hotmail.com,http://www.putnamcoinc.co.uk