In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pwd

'C:\\Users\\admin\\Desktop\\UC_BERKLEY_BOOTCAMP_FinTech_coding-exercises\\Online-Course-12-12-22\\UC_BERKLEY_BOOTCAMP_FinTech_coding-exercises\\Module11'

In [5]:
csv_path = Path (
    "../../../../FinTech/FinTech2022_Module11_Time Series/02-Visualizing_Stock_Data/Resources/tsla_historical.csv"
)

In [7]:
df_tsla = pd.read_csv(
    csv_path
)

# Display the dataframe for review
df_tsla.head()

                        time    close
0  2018-01-02 09:30:00-05:00  315.870
1  2018-01-02 09:45:00-05:00  317.500
2  2018-01-02 10:00:00-05:00  318.035
3  2018-01-02 10:15:00-05:00  317.470
4  2018-01-02 10:30:00-05:00  316.875