In [1]:
import pandas as pd
from pathlib import Path

# Column Manipulation

In [2]:
csvpath = Path("../Resources/customers.csv")

In [9]:
customer_dataframe = pd.read_csv(csvpath)
customer_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300

In [12]:
# Fix columns with new column list.
col_1 = ["Full Name", "Email", "Address", "Zip", "Credit Card", "Account Balance"]
customer_dataframe.columns = col_1
customer_dataframe

,Full Name,Email,Address,Zip,Credit Card,Account Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400

In [16]:
# Another way to fix column.
cc_df = pd.read_csv(csvpath)
cc_df = cc_df.rename(columns={"FullName": "Full Name", "CreditCard": "Credit Card"})
cc_df

,Full Name,Email,Address,Zip,Credit Card,Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400