In [1]:
import pandas as pd
from pathlib import Path

# Column Manipulation

In [2]:
csvpath = Path("../Resources/customers.csv")

In [3]:
customer_dataframe = pd.read_csv(csvpath)
customer_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300

In [4]:
# Fix columns with new column list.
col_1 = ["Full Name", "Email", "Address", "Zip", "Credit Card", "Account Balance"]
customer_dataframe.columns = col_1
customer_dataframe

,Full Name,Email,Address,Zip,Credit Card,Account Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400

In [5]:
# Another way to fix column.
cc_df = pd.read_csv(csvpath)
cc_df = cc_df.rename(columns={"FullName": "Full Name", "CreditCard": "Credit Card", 'Balance': 'Account Balance'})
cc_df

,Full Name,Email,Address,Zip,Credit Card,Account Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400

# Reorder columns
> __*[[ ]]*__ double brackets

In [6]:
cc_df = cc_df[
    ['Credit Card', 'Account Balance','Full Name', 'Email', 'Address', 'Zip', ]
]
cc_df

,Credit Card,Account Balance,Full Name,Email,Address,Zip
0,2524 2317 2139 4751,21511,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353
1,4756 0997 9568 1329,13850,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922
2,3717 863466 48574,21254,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535
3,5413 1700 6989 2835,5221,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098
4,5173 4883 9215 4743,8300,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895
...,...,...,...,...,...,...
95,3474 949615 85541,5091,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413
96,4711 5533 4972 2249,16509,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152
97,3794 280688 77410,24196,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215
98,4972 5355 6633 9108,18828,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903
99,3727 728484 48704,3400,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186

# Creat new columns

In [7]:
cc_df['Balance (1k)'] = cc_df['Account Balance'] / 1000
cc_df

C:\Users\admin\AppData\Local\Temp\ipykernel_16696\2063880937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc_df['Balance (1k)'] = cc_df['Account Balance'] / 1000

,Credit Card,Account Balance,Full Name,Email,Address,Zip,Balance (1k)
0,2524 2317 2139 4751,21511,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,21.511
1,4756 0997 9568 1329,13850,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,13.850
2,3717 863466 48574,21254,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,21.254
3,5413 1700 6989 2835,5221,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5.221
4,5173 4883 9215 4743,8300,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,8.300
...,...,...,...,...,...,...,...
95,3474 949615 85541,5091,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,5.091
96,4711 5533 4972 2249,16509,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,16.509
97,3794 280688 77410,24196,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,24.196
98,4972 5355 6633 9108,18828,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,18.828
99,3727 728484 48704,3400,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3.400

# Split columns

In [14]:
names = cc_df['Full Name'].str.split(" ", expand=True)
names.head()

          0          1
0     Altha  Frederick
1  Nickolas     Harvey
2  Jesusita     Kinney
3      Mose     Gordon
4     Cesar  Valentine

In [17]:
names[0]

0        Altha
1     Nickolas
2     Jesusita
3         Mose
4        Cesar
        ...
95     Crystle
96       Jetta
97      Dallas
98     Roberto
99        Abel
Name: 0, Length: 100, dtype: object

In [18]:
names[1]

0     Frederick
1        Harvey
2        Kinney
3        Gordon
4     Valentine
        ...
95       Larson
96    Davenport
97     Johnston
98    Daugherty
99      Walters
Name: 1, Length: 100, dtype: object

In [24]:
cc_df['First Name'] = names[0]
cc_df['Last Name'] = names[1]
cc_df

C:\Users\admin\AppData\Local\Temp\ipykernel_16696\1387973185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc_df['First Name'] = names[0]
C:\Users\admin\AppData\Local\Temp\ipykernel_16696\1387973185.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc_df['Last Name'] = names[1]

,Credit Card,Account Balance,Full Name,Email,Address,Zip,Balance (1k),First Name,Last Name
0,2524 2317 2139 4751,21511,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,21.511,Altha,Frederick
1,4756 0997 9568 1329,13850,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,13.850,Nickolas,Harvey
2,3717 863466 48574,21254,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,21.254,Jesusita,Kinney
3,5413 1700 6989 2835,5221,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5.221,Mose,Gordon
4,5173 4883 9215 4743,8300,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,8.300,Cesar,Valentine
...,...,...,...,...,...,...,...,...,...
95,3474 949615 85541,5091,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,5.091,Crystle,Larson
96,4711 5533 4972 2249,16509,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,16.509,Jetta,Davenport
97,3794 280688 77410,24196,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,24.196,Dallas,Johnston
98,4972 5355 6633 9108,18828,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,18.828,Roberto,Daugherty
99,3727 728484 48704,3400,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3.400,Abel,Walters

# Delete columns

In [26]:
cc_df.drop(
    columns='Full Name'
)

,Credit Card,Account Balance,Email,Address,Zip,Balance (1k),First Name,Last Name
0,2524 2317 2139 4751,21511,unhideable1966@gmail.com,67 John Maher Extension,31353,21.511,Altha,Frederick
1,4756 0997 9568 1329,13850,allgood1803@outlook.com,1200 Madera Plaza,1922,13.850,Nickolas,Harvey
2,3717 863466 48574,21254,satsumas1954@yahoo.com,943 Gibb Highway,41535,21.254,Jesusita,Kinney
3,5413 1700 6989 2835,5221,antifowl1875@gmail.com,1073 Fell Trace,16098,5.221,Mose,Gordon
4,5173 4883 9215 4743,8300,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,8.300,Cesar,Valentine
...,...,...,...,...,...,...,...,...
95,3474 949615 85541,5091,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,5.091,Crystle,Larson
96,4711 5533 4972 2249,16509,doolittle1818@yandex.com,618 Williams Terrace,73152,16.509,Jetta,Davenport
97,3794 280688 77410,24196,mosso1961@live.com,324 Tenny Line,88215,24.196,Dallas,Johnston
98,4972 5355 6633 9108,18828,ovenful1914@yandex.com,1058 Marengo Manor,33903,18.828,Roberto,Daugherty
99,3727 728484 48704,3400,esson1909@yandex.com,89 Rivera Bypass,39186,3.400,Abel,Walters