In [1]:
from pathlib import Path

In [4]:
# Locate csv file
csvpath = Path(
    "../../../../FinTech/FinTech2022_Module10_Unsupervised Learning/01-Finding_the_Best_k/Resources/option_trades.csv"
)

In [6]:
# Read the csv file into Pandas DataFrame
import pandas as pd

df_options = pd.read_csv(
    csvpath
)

df_options

,date,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,40,41
0,2020-08-04 08:30:00,195.631965,210.025058,202.829513,221.569809,215.823048,212.112938,197.524908,214.564618,207.460115,...,212.817158,201.262083,213.933774,206.132907,219.661568,204.972118,199.161883,194.000531,201.362749,205.688881
1,2020-08-04 11:00:00,218.833616,193.663638,182.807302,213.005657,194.657965,216.787274,201.662100,215.953316,201.586270,...,218.560756,203.906526,196.645644,189.943663,196.537013,215.602311,217.919553,195.033360,202.346823,209.713289
2,2020-08-04 15:00:00,222.549239,200.632362,204.053803,198.749230,193.896719,201.005404,199.516591,209.182859,205.425138,...,202.110909,219.896820,189.815097,198.069253,184.975622,198.668261,189.010191,204.879033,185.872788,196.961774
3,2020-08-05 08:30:00,177.901221,167.170212,178.674226,180.081992,197.030368,182.861254,182.138259,163.847409,175.976501,...,173.560308,165.625163,177.090720,193.282793,187.996491,172.252274,183.706807,191.109464,179.242510,181.603642
4,2020-08-05 11:00:00,180.847294,186.696453,184.825757,180.116009,190.997511,177.779359,180.832512,173.574245,174.426271,...,185.786780,171.388340,169.806288,168.503200,198.223226,183.767643,183.771038,203.553074,187.438263,155.905713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2020-11-03 10:00:00,81.939634,88.430788,86.270229,88.109898,89.688909,87.261466,95.978367,87.265970,83.753496,...,94.226554,91.973535,100.917195,86.636626,81.259035,77.619161,77.066175,78.276264,70.347567,88.658503
129,2020-11-03 14:00:00,81.734849,81.312948,93.025768,78.743969,78.917070,88.522835,78.838711,92.795458,87.478699,...,101.713473,92.470463,91.297655,92.924256,99.606585,87.341789,95.643514,66.443985,75.685857,72.340522
130,2020-11-04 08:30:00,44.059735,48.110673,35.495850,41.166459,58.969224,44.610467,34.738626,22.289603,47.994218,...,48.444567,47.579644,39.239714,58.670127,35.434913,63.176094,60.078842,25.258316,32.334332,58.251580
131,2020-11-04 10:00:00,36.935261,52.366055,55.049215,37.831209,33.176954,41.599295,51.847649,39.298211,43.193773,...,36.504154,43.218135,53.844972,57.466938,48.939584,25.891143,30.721429,44.619639,38.122299,44.135863
132,2020-11-04 14:00:00,45.711539,53.374064,40.315510,53.588747,34.446107,50.028534,38.408923,44.778468,46.192933,...,53.765666,36.370458,46.451822,33.826353,47.758033,40.402444,52.643857,58.384174,45.960150,55.745625

In [7]:
df_options.shape

(133, 43)

In [8]:
df_options.dtypes

date     object
0       float64
1       float64
2       float64
3       float64
4       float64
5       float64
6       float64
7       float64
8       float64
9       float64
10      float64
11      float64
12      float64
13      float64
14      float64
15      float64
16      float64
17      float64
18      float64
19      float64
20      float64
21      float64
22      float64
23      float64
24      float64
25      float64
26      float64
27      float64
28      float64
29      float64
30      float64
31      float64
32      float64
33      float64
34      float64
35      float64
36      float64
37      float64
38      float64
39      float64
40      float64
41      float64
dtype: object

In [9]:
df_options.columns

Index(['date', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41'],
      dtype='object')

In [10]:
df_options.isnull().mean()

date    0.0
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
30      0.0
31      0.0
32      0.0
33      0.0
34      0.0
35      0.0
36      0.0
37      0.0
38      0.0
39      0.0
40      0.0
41      0.0
dtype: float64

In [12]:
df_options.duplicated().sum()

0

In [13]:
df_options

,date,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,40,41
0,2020-08-04 08:30:00,195.631965,210.025058,202.829513,221.569809,215.823048,212.112938,197.524908,214.564618,207.460115,...,212.817158,201.262083,213.933774,206.132907,219.661568,204.972118,199.161883,194.000531,201.362749,205.688881
1,2020-08-04 11:00:00,218.833616,193.663638,182.807302,213.005657,194.657965,216.787274,201.662100,215.953316,201.586270,...,218.560756,203.906526,196.645644,189.943663,196.537013,215.602311,217.919553,195.033360,202.346823,209.713289
2,2020-08-04 15:00:00,222.549239,200.632362,204.053803,198.749230,193.896719,201.005404,199.516591,209.182859,205.425138,...,202.110909,219.896820,189.815097,198.069253,184.975622,198.668261,189.010191,204.879033,185.872788,196.961774
3,2020-08-05 08:30:00,177.901221,167.170212,178.674226,180.081992,197.030368,182.861254,182.138259,163.847409,175.976501,...,173.560308,165.625163,177.090720,193.282793,187.996491,172.252274,183.706807,191.109464,179.242510,181.603642
4,2020-08-05 11:00:00,180.847294,186.696453,184.825757,180.116009,190.997511,177.779359,180.832512,173.574245,174.426271,...,185.786780,171.388340,169.806288,168.503200,198.223226,183.767643,183.771038,203.553074,187.438263,155.905713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2020-11-03 10:00:00,81.939634,88.430788,86.270229,88.109898,89.688909,87.261466,95.978367,87.265970,83.753496,...,94.226554,91.973535,100.917195,86.636626,81.259035,77.619161,77.066175,78.276264,70.347567,88.658503
129,2020-11-03 14:00:00,81.734849,81.312948,93.025768,78.743969,78.917070,88.522835,78.838711,92.795458,87.478699,...,101.713473,92.470463,91.297655,92.924256,99.606585,87.341789,95.643514,66.443985,75.685857,72.340522
130,2020-11-04 08:30:00,44.059735,48.110673,35.495850,41.166459,58.969224,44.610467,34.738626,22.289603,47.994218,...,48.444567,47.579644,39.239714,58.670127,35.434913,63.176094,60.078842,25.258316,32.334332,58.251580
131,2020-11-04 10:00:00,36.935261,52.366055,55.049215,37.831209,33.176954,41.599295,51.847649,39.298211,43.193773,...,36.504154,43.218135,53.844972,57.466938,48.939584,25.891143,30.721429,44.619639,38.122299,44.135863
132,2020-11-04 14:00:00,45.711539,53.374064,40.315510,53.588747,34.446107,50.028534,38.408923,44.778468,46.192933,...,53.765666,36.370458,46.451822,33.826353,47.758033,40.402444,52.643857,58.384174,45.960150,55.745625